@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 16, 0, 43;
  --background-end-rgb: 36, 0, 70;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

a {
  color: rgb(192, 132, 252);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: rgb(216, 180, 254);
}
